- content_for(:html_title) {'発送・お届け先住所入力'}
= render partial: 'signup-header3'
.signup-container
  %h2.signup-header 発送元・お届け先住所入力
  .registration-form
    = form_for @profile ,url: address_signup_index_path,method: :post do |f|
      .signup-form-container.registration-form__first-container
        .signup-form-container__title
          = label :name, 'お名前', class: 'signup-label'
          %span.signup-form-container__span.span-need 必須
        = f.text_field :post_family_name, placeholder: '例）山田', class: 'default-input'
        = f.text_field :post_personal_name, placeholder: '例）彩', class: 'default-input__under default-input'
        - if judge_blank(@profile,:post_family_name) || judge_blank(@profile,:post_personal_name)
          .input-error 入力してください
        - if judge_length_long(@profile,:post_family_name,35) || judge_length_long(@profile,:post_personal_name,35)
          .input-error 35文字以下で入力してください
      .signup-form-container
        .signup-form-container__title
          = label :name, 'お名前カナ', class: 'signup-label'
          %span.signup-form-container__span.span-need 必須
        = f.text_field :post_family_name_kana, placeholder: '例）ヤマダ', class: 'default-input'
        = f.text_field :post_personal_name_kana, placeholder: '例）アヤ', class: 'default-input__under default-input'
        - if judge_blank(@profile,:post_family_name_kana) || judge_blank(@profile,:post_personal_name_kana)
          .input-error 入力してください
        - if judge_length_long(@profile,:post_family_name_kana,35) || judge_length_long(@profile,:post_personal_name_kana,35)
          .input-error 35文字以下で入力してください
      .signup-form-container
        .signup-form-container__title
          = label :postal_code, '郵便番号', class: 'signup-label'
          %span.signup-form-container__span.span-need 必須
        = f.text_field :postal_code, placeholder: '例）123-4567', class: 'default-input'
        - if judge_blank(@profile,:postal_code)
          .input-error 入力してください
        - if judge_format(@profile,:postal_code)
          .input-error フォーマットが不適切です
      .signup-form-container
        .signup-form-container__title
          = label :prefecture, '都道府県', class: 'signup-label'
          %span.signup-form-container__span.span-need 必須
        .select-wrap.select-wrap__full
          = f.collection_select :prefecture, Prefecture.all,:name,:name,{include_blank: '--'}, {class: 'default-select default-select__full'}
          %i.select-arrow.fas.fa-chevron-down
        - if judge_blank(@profile,:prefecture)
          .input-error 入力してください
      .signup-form-container
        .signup-form-container__title
          = label :city, '市区町村', class: 'signup-label'
          %span.signup-form-container__span.span-need 必須
        = f.text_field :city, placeholder: '例）横浜市緑区', class: 'default-input'
        - if judge_blank(@profile,:city)
          .input-error 入力してください
        - if judge_length_long(@profile,:city,50)
          .input-error 50文字以下で入力してください
      .signup-form-container
        .signup-form-container__title
          = label :address, '番地', class: 'signup-label'
          %span.signup-form-container__span.span-need 必須
        = f.text_field :address, placeholder: '例）青山1-1-1', class: 'default-input'
        - if judge_blank(@profile,:address)
          .input-error 入力してください
        - if judge_length_long(@profile,:address,100)
          .input-error 100文字以下で入力してください
      .signup-form-container
        .signup-form-container__title
          = label :building, '建物名', class: 'signup-label'
          %span.signup-form-container__span.span-optional 任意
        = f.text_field :building, placeholder: '例）柳ビル103', class: 'default-input'
        - if judge_length_long(@profile,:building,100)
          .input-error 100文字以下で入力してください
      .signup-form-container
        .signup-form-container__title
          = label :tel, '電話', class: 'signup-label'
          %span.signup-form-container__span.span-optional 任意
        = f.text_field :tel, placeholder: '例）09012345678', class: 'default-input'
        - if judge_length_long(@profile,:tel,100)
          .input-error 100文字以下で入力してください
      = f.submit '次へ進む',class: 'submit-btn submit-btn-red'
= render partial: 'simple-footer'